<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home">

    <header>
        <div class="logo">
            <a href="/">
                <img src="/image/logo.png" alt="Logo del sitio">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="#">smartphones</a></li>
                <li><a href="#">tablets</a></li>
                <li><a href="#">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="#">login</a></li>
                <li><a href="#">registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="productos">
            <article>
                <img src="/image/img-phone-01.jpg" alt="">
                <h4>Nombre del producto</h4>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum enim quod quo assumenda aut labore impedit, sunt totam voluptate aperiam ratione esse. Quasi repudiandae neque distinctio, similique pariatur soluta iste? </p>
                <a href="#">ver más</a>
            </article>
            <article>
                <img src="/image/img-phone-02.jpg" alt="">
                <h4>Nombre del producto</h4>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum enim quod quo assumenda aut labore impedit, sunt totam voluptate aperiam ratione esse. Quasi repudiandae neque distinctio, similique pariatur soluta iste? </p>
                <a href="#">ver más</a>
            </article>
            <article>
                <img src="/image/img-phone-03.jpg" alt="">
                <h4>Nombre del producto</h4>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum enim quod quo assumenda aut labore impedit, sunt totam voluptate aperiam ratione esse. Quasi repudiandae neque distinctio, similique pariatur soluta iste? </p>
                <a href="#">ver más</a>
            </article>
            <article>
                <img src="/image/img-phone-01.jpg" alt="">
                <h4>Nombre del producto</h4>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum enim quod quo assumenda aut labore impedit, sunt totam voluptate aperiam ratione esse. Quasi repudiandae neque distinctio, similique pariatur soluta iste? </p>
                <a href="#">ver más</a>
            </article>
            <article>
                <img src="/image/img-phone-02.jpg" alt="">
                <h4>Nombre del producto</h4>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit iure quae recusandae sint nulla a corrupti distinctio debitis, itaque temporibus ratione dicta quos quia, sunt, inventore ipsam? Dicta, quaerat facilis! </p>
                <a href="#">ver más</a>
            </article>
            <article>
                <img src="/image/img-phone-03.jpg" alt="">
                <h4>Nombre del producto</h4>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit iure quae recusandae sint nulla a corrupti distinctio debitis, itaque temporibus ratione dicta quos quia, sunt, inventore ipsam? Dicta, quaerat facilis! </p>
                <a href="#">ver más</a>
            </article>
        </section>
        <aside>
            <h3>Tutoriales</h3>
            <section class="tuto">
                <article>
                    <img src="/image/aside-01.jpg" alt="">
                    <p>Titulo del tutorial de reparación</p>
                </article>
                <article>
                    <img src="/image/aside-02.jpg" alt="">
                    <p>Titulo del tutorial de reparación</p>
                </article>  
                <article>
                    <img src="/image/aside-03.jpg" alt="">
                    <p>Titulo del tutorial de reparación</p>
                </article>              
                <article>
                    <img src="/image/aside-04.jpg" alt="">
                    <p>Titulo del tutorial de reparación</p>
                </article>
            </section>
            <h3 class="title-ads">Publicidad</h3>
            <section class="ads">
                <img src="/image/ad-01.jpg" alt="">
                <img src="/image/ad-02.jpg" alt="">
            </section>
        </aside>
    </main>
</body>
</html>